/* Layout Utama */
#badan_utama {
  width: 100%;
  max-width: 800px; /* Responsif */
  margin: 0 auto; /* Menjaga layout tetap di tengah */
  box-shadow: 0px 0px 5px #000;
  padding: 10px;
}

/* Header */
#header {
  background-color: #ff9900;
  text-align: left;
  padding-left: 10px;
  height: 100px;
  z-index: 3;
  overflow: hidden;
  position: relative; /* Agar z-index berfungsi */
}

/* Menu */
#menu {
  background-color: #999999;
  height: 40px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Wrapper - Menggunakan Flexbox untuk Content dan Sidebar */
#wrapper {
  display: flex; /* Menggunakan flexbox */
  justify-content: space-between; /* Membuat jarak antara content dan sidebar */
  width: 100%;
  background-color: #ffffff;
  height: auto;
}

/* Content */
#content {
  flex: 3; /* Menggunakan flex untuk memberikan ruang lebih banyak ke content */
  padding: 5px;
  font-size: 12px;
  z-index: 4;
}

/* Sidebar */
#sidebar {
  width: 200px;
  background-color: #ffffff;
  text-align: left;
  z-index: 5;
  padding: 10px;
}

/* Footer */
#footer {
  clear: both;
  height: 20px;
  width: 100%;
  z-index: 7;
  background-color: #0099ff;
  font-size: 11px;
  text-align: center;
  font-weight: bolder;
  position: relative; /* Agar z-index berfungsi */
}
